
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/papers">Papers</a></li>
				<li><a href="/teaching">Teaching</a></li>
				<li><a href="https://github.com/HirenMadhu/HirenMadhu.github.io/blob/master/cv/CV.pdf">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hirenmadhu@iisc.ac.in">Email</a></li>
				<li><a href="https://twitter.com/hiren_madhu">Twitter (or X)</a></li>
				<li><a href="https://scholar.google.com/citations?hl=en&user=Bt8Q-x0AAAAJ&view_op=list_works&sortby=pubdate">Google Scholar</a></li>
	        		<li><a href="https://github.com/HirenMadhu">Github</a></li>
				<li><a href="https://github.com/HirenMadhu/HirenMadhu.github.io/blob/master/cv/CV.pdf">CV</a></li>
				</ul>
			</footer>
		</body>
	</html>
